html,
body {
    margin: 0px;
    padding: 0px;
}

#stats {
    background-color: black;
    color: white;
}

#game {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#click {
    width: 200px;
    height: 70px;
}

.auto {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-gap: 10px;
    width: 300px;
}