html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
}

#stats {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-flow: column;
    grid-gap: 20px;
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
}

#game {
    display: grid;
    grid-auto-columns: repeat(2, fit-content);
    grid-auto-flow: column;
    justify-content: left;
    grid-gap: 50px;
    margin-top: 70px;
    padding: 20px;
}

#production,
#upgrades {
    display: grid;
    grid-gap: 10px;
    height: fit-content;
}

#click {
    width: 200px;
    height: 70px;
}

.auto {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    width: fit-content;
}